name: My Workflow

on: [push]

jobs:
  my_build_job:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: [3.11]

    steps: # These are the actions this job will perform
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: pip install -e .
      - name: Run tests
        run: pytest